section.vw-100.bg-white
    div.container.testimonios.py-5
        h3.testimonios__titulo.display-5.text-center.mb-5 Testimonios
        <div id="carrusel-testimonios" class="carousel slide m-lg-2 m-xxl-5 p-lg-5 d-flex flex-column d-lg-block" data-bs-ride="carousel">
            <div class="carousel-indicators mb-0 d-lg-none order-1 mt-5">
                <button type="button" data-bs-target="#carrusel-testimonios" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button class="mx-3" type="button" data-bs-target="#carrusel-testimonios" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carrusel-testimonios" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner px-lg-3 px-xxl-5 mx-lg-5">
                <div class="carousel-item active">
                    div.row.gx-xxl-5.testimonio
                        <img src="recursos/imagenes/index-1-3-220x220.jpg" class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-3 offset-lg-0 testimonio__imagen" alt="...">
                        div.col-12.col-lg-9.d-flex.flex-column.justify-content-between.text-center.text-lg-start
                            cite.fst-normal.testimonio__nombre.fs-5.mt-3.mt-lg-0 Marie Hanson
                            small.d-block.mt-2.mb-4.fst-italic.testimonio__ocupacion Dueña Joyeria Ricciardi
                            div.position-relative 
                                blockquote.mb-0.fs-4.fw-light.fst-italic.testimonio__frase Cuando necesité ayuda financiera para expandir mi tienda, fui directamente a Dot Bank. Conseguir financiación nos ayudó a renovar y ampliar mi joyería y a atraer más clientes.
                                    <i class="fas fa-quote-right fs-3 ms-2"></i>
                                <i class="fas fa-quote-left fs-3 position-absolute top-0 start-0"></i>
 
                </div>
                <div class="carousel-item">
                    div.row.gx-xxl-5.testimonio
                        <img src="recursos/imagenes/index-1-4-220x220.jpg" class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-3 offset-lg-0 testimonio__imagen" alt="...">
                        div.col-12.col-lg-9.d-flex.flex-column.justify-content-between.text-center.text-lg-start 
                            cite.fst-normal.testimonio__nombre.fs-5.mt-3.mt-lg-0 Ann Smith
                            small.d-block.mt-2.mb-4.fst-italic.testimonio__ocupacion Fundadora ONG Formando Ciudadanos 
                            div.position-relative 
                                blockquote.mb-0.fs-4.fw-light.fst-italic.testimonio__frase Elegí Dot Bank porque sé que comparten mis valores de poner a la comunidad en primer lugar. No solo facilitan la banca, los veo como voluntarios e invirtiendo en nuestra comunidad.
                                    <i class="fas fa-quote-right fs-3 ms-2"></i>
                                <i class="fas fa-quote-left fs-3 position-absolute top-0 start-0"></i>
                </div>
                <div class="carousel-item">
                    div.row.gx-xxl-5.testimonio
                        <img src="recursos/imagenes/index-1-5-220x220.jpg" class="col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-4 col-lg-3 offset-lg-0 testimonio__imagen" alt="...">
                        div.col-12.col-lg-9.d-flex.flex-column.justify-content-between.text-center.text-lg-start 
                            cite.fst-normal.testimonio__nombre.fs-5.mt-3.mt-lg-0 Mildred Bates
                            small.d-block.mt-2.mb-4.fst-italic.testimonio__ocupacion Gerente Financiero Investments SA
                            div.position-relative 
                                blockquote.mb-0.fs-4.fw-light.fst-italic.testimonio__frase Encontrar a Dot Bank, un banco confiable con reputación internacional y programas de préstamos especializados, me permitió financiar mi negocio y abrir una nueva oficina en California. ¡Gracias!
                                    <i class="fas fa-quote-right fs-3 ms-2"></i>
                                <i class="fas fa-quote-left fs-3 position-absolute top-0 start-0"></i>
                </div>
            </div>
            <button class="carousel-control-prev d-none d-lg-flex" type="button" data-bs-target="#carrusel-testimonios" data-bs-slide="prev">
                <i class="fas fa-chevron-left fs-4"></i>
                <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next d-none d-lg-flex" type="button" data-bs-target="#carrusel-testimonios" data-bs-slide="next">
                <i class="fas fa-chevron-right fs-4"></i>
                <span class="visually-hidden">Siguiente</span>
            </button>
        </div>    
