@use 'componentes/01-inicio/inicio.scss';
@use 'componentes/02-datos/datos.scss';
@use 'componentes/03-ventajas/ventajas.scss';
@use 'componentes/04-detalles/detalles.scss';
@use 'componentes/05-testimonios/testimonios.scss';
@use 'componentes/06-estadisticas/estadisticas.scss';
@use 'componentes/07-banner_tarjeta/banner_tarjeta.scss';
@use 'componentes/08-etapas/etapas.scss';
@use 'componentes/09-preguntas_frecuentes/preguntas_frecuentes.scss';
@use 'componentes/10-publicaciones/publicaciones.scss';
@use 'componentes/11-banner_newsletter/banner_newsletter.scss';
@use 'componentes/12-contacto/contacto.scss';
@use 'componentes/13-footer/footer.scss';
:root {
    --color_b1: #ffffff;
    --color_fuente1: #29293a;
    --color_fuente2: #828590;
    --color_principal: #7b59d0;
    --color_fondo: #1D0D44;
    --color_fondo2: #F3F3F9;
    --color_detalles: #36f1f8;
}
*::selection {
    background: var(--color_principal);
    color: #fff;
}
body {
    background-color: var(--color_fondo);
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 12px;
}
body::-webkit-scrollbar-thumb{
    background: #36f1f8; 
    border-radius: 15px;
}
body::-webkit-scrollbar-track{
    background: #5428a4;
    border: 4px solid #1D0D44;
    border-radius: 15px;
}