doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <link href="recursos/iconos/fontawesome/css/all.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        link(rel="stylesheet", href="index.css")
        link(rel="shortcut icon", href="recursos/iconos/favicon.ico", type="image/x-icon")
        title Dot Bank
    body
        div#page
            include componentes/01-inicio/inicio
            main
                include componentes/02-datos/datos
                include componentes/03-ventajas/ventajas
                include componentes/04-detalles/detalles
                include componentes/05-testimonios/testimonios
                include componentes/06-estadisticas/estadisticas
                include componentes/07-banner_tarjeta/banner_tarjeta
                include componentes/08-etapas/etapas
                include componentes/09-preguntas_frecuentes/preguntas_frecuentes
                include componentes/10-publicaciones/publicaciones
                include componentes/11-banner_newsletter/banner_newsletter
                include componentes/12-contacto/contacto
                include componentes/13-footer/footer

        script(src="componentes/01-inicio/navbar.js") 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        script. 
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
            })