section.vw-100
    div.container
        div.datos.row.row-cols-lg-3.row-cols-1.gy-5.pb-lg-5
            article.col
                div.datos__placa.position-relative.p-3.p-md-5
                    img(src="recursos/imagenes/progress-1-92x84.png", alt="" class="datos__placa--icono me-4")
                    div.d-inline-block.datos__placa--cifras.w-50.text-nowrap
                        small Más de
                        big.d-block.fs-1.fw-bold.tarjetas
                        span.fs-5.fw-lighter Tarjetas Entregadas
                    p.datos__placa--detalle.mt-4.mb-0
                        | Nuestro banco es un líder reconocido a nivel internacional en la distribución de tarjetas de crédito. Emitimos más de 5000 tarjetas cada año. 
                        i A domicilio y listas para usar.

            article.col
                div.datos__placa.position-relative.p-3.p-md-5
                    img(src="recursos/imagenes/progress-2-92x84.png", alt="" class="datos__placa--icono me-4")
                    div.d-inline-block.datos__placa--cifras.w-50.text-nowrap
                        small Hasta
                        big.d-block.fs-1.fw-bold.devolucion
                        span.fs-5.fw-lighter de Devolución
                    p.datos__placa--detalle.mt-4.mb-0 
                        | Ofrecemos una 
                        i increíble cantidad de reembolso 
                        | por pagos realizados con una de nuestras tarjetas de crédito: celeste, verde o naranja.

            article.col
                div.datos__placa.position-relative.p-3.p-md-5
                    img(src="recursos/imagenes/progress-3-92x84.png", alt="" class="datos__placa--icono me-4")
                    div.d-inline-block.datos__placa--cifras.w-50.text-nowrap
                        small Hasta
                        big.d-block.fs-1.fw-bold.rendimiento
                        span.fs-5.fw-lighter de Rendimiento
                    p.datos__placa--detalle.mt-4.mb-0 
                        | Dot Bank ofrece 
                        i varias ofertas de depósitos 
                        | en todas las monedas internacionales con una tasa de interés de hasta el 25% para todos los clientes habituales.


