section.detalles.vw-100.py-5 
    div.container
        div.detalles__intro.text-center.mx-auto.mb-5
            h3.text-capitalize.display-5.mb-4 Beneficios 
                span.fs-4 & 
                | Detalles
            p.fw-light Brindamos a todos nuestros clientes diversas ventajas que no solo satisfacen sus necesidades bancarias, sino que también les permiten obtener más sin pagar por un servicio adicional.
        div.detalles__tarjetas.row.row-cols-1.row-cols-md-2.row-cols-lg-4.mb-5.gy-4
            div.detalles__tarjetas--frase
                <i class="fas fa-quote-left fs-3"></i>
                blockquote.fst-italic.fs-5.my-3 En Dot Bank, nuestro objetivo es brindar servicios bancarios de alta calidad a un mayor número de clientes individuales y corporativos que cualquier otro banco en Argentina y en el continente.
                cite.d-block Lautaro Pastor
                span.fst-italic CEO & Founder de Dot Bank
            article.col.text-center
                div.w-100.h-100.bg-white.rounded-3.p-4
                    <i class="bi bi-bar-chart-line detalles__tarjetas--icono display-2 d-inline-block mb-4"></i>
                    h4.fw-normal.fs-5.mb-4 Estadísticas Detalladas
                    p.detalles__tarjetas--parrafo Nuestro recurso bancario en línea proporciona estadísticas gratuitas y detalladas a todos nuestros clientes.
            article.col.text-center
                div.w-100.h-100.bg-white.rounded-3.p-4
                    <i class="bi bi-envelope-open detalles__tarjetas--icono display-2 d-inline-block mb-4"></i>
                    h4.fw-normal.fs-5.mb-4 E-mail Newsletter
                    p.detalles__tarjetas--parrafo Suscríbete a nuestro boletín semanal y mantenete informado de las últimas noticias financieras y bancarias del país y del mundo.
            article.col.text-center
                div.w-100.h-100.bg-white.rounded-3.p-4
                    <i class="bi bi-cash-coin detalles__tarjetas--icono display-2 d-inline-block mb-4"></i>
                    h4.fw-normal.fs-5.mb-4 Metas Financieras
                    p.detalles__tarjetas--parrafo Cumplí fácilmente tus objetivos financieros con nuestras asequibles ofertas bancarias disponibles todos los meses.
        div.detalles__mision.pt-5.row.row-cols-1.row-cols-lg-2.gx-5
            figure.col.mb-0.mb-4.mb-lg-0: img.rounded-3.w-100(src="recursos/imagenes/index-1-2-570x352.jpg", alt="")
            div.col.d-flex.flex-column.justify-content-between
                p.detalles__mision--p-primario Dot Bank se fundó en el 2002, luego de la crisis Argentina en diciembre del año anterior, con el fin de introducir el nuevo nivel de servicios financieros y resguardo de valores en el país.
                p.detalles__mision--p-secundario En Dot Bank nos guiamos por un propósito común para ayudar a mejorar la vida financiera al conectar a los clientes y las comunidades con el recurso que necesitan para tener éxito. Impulsamos el crecimiento, ayudando a crear puestos de trabajo, desarrollar comunidades, fomentar la movilidad económica y abordar los mayores desafíos de la sociedad, mientras gestionamos el riesgo y proporcionamos beneficios a nuestros clientes y accionistas.
                a.detalles__mision--boton.text-center.text-decoration-none.fw-bold.text-white(role="button") Saber Más


    
    
    