section.vw-100#beneficios
    div.container
        div.ventajas.pt-lg-5
            div.ventajas__intro.text-center.mx-auto.mb-5.mb-lg-0
                h3.text-capitalize.display-5.mb-4 Tú mejor opción bancaria
                p.fw-light Desde nuestra fundación, hemos sido la institución bancaria número uno para muchos clientes individuales y corporativos, tanto en la Argentina como a nivel internacional. Ofrecemos a nuestros clientes una amplia serie de beneficios.
            div.ventajas__grid.d-grid
                ul.list-unstyled.ventajas__grid--left.text-center.text-sm-end.d-grid.mb-0
                    li
                        <i class="fas fa-globe-americas icono"></i>
                        div.ventajas__texto
                            h4.ventajas__texto--titulo Presencia Internacional
                            p.ventajas__texto--parrafo Tenemos oficinas en muchos países, incluidos Argentina, Uruguay, Brasil, Chile y EE.UU.
                    li 
                        <i class="fas fa-mobile-alt icono up"></i>
                        div.ventajas__texto
                            h4.ventajas__texto--titulo Aplicaciones de Banca Móvil
                            p.ventajas__texto--parrafo Obtené acceso instantáneo a su cuenta en cualquier dispositivo usando nuestras aplicaciones bancarias.
                    li 
                        <i class="fas fa-headset icono"></i>
                        div.ventajas__texto
                            h4.ventajas__texto--titulo Soporte 24/7
                            p.ventajas__texto--parrafo Nuestro equipo de soporte siempre está listo para ayudarte a resolver cualquier problema bancario.
                figure.d-none.d-lg-block: img(src="recursos/imagenes/index-1-1-309x582.png", alt="")
                ul.list-unstyled.ventajas__grid--right.text-center.text-sm-start.d-grid.mb-0
                    li 
                        <i class="fas fa-user-plus icono"></i>
                        div.ventajas__texto
                            h4.ventajas__texto--titulo Programas Familiares
                            p.ventajas__texto--parrafo Nuestro Banco cuenta con programas especiales con beneficios para familiares.
                    li 
                        <i class="far fa-id-badge icono up"></i>
                        div.ventajas__texto
                            h4.ventajas__texto--titulo Perfil Personal
                            p.ventajas__texto--parrafo Registrá tú perfil personal gratuito en línea para comenzar a utilizar nuestros servicios.
                    li
                        <i class="fas fa-cogs icono"></i>
                        div.ventajas__texto
                            h4.ventajas__texto--titulo Fácil Configuración
                            p.ventajas__texto--parrafo  Los clientes registrados pueden editar la configuración de la cuenta bancaria en 2 clicks.
            div.ventajas__inferior.row
                div.col-12.col-lg-4.offset-lg-4.text-center.my-5.my-lg-0
                    a.ventajas__inferior--boton.text-decoration-none.text-reset.text-center.fw-bold.text-capitalize(role="button") Ver más ventajas


