section.bg-white.py-5
    div.container.text-center
        h3.etapas__titulo.display-5.my-4 ¿Cómo solicitar una nueva T-Dot?
        div.row.mt-5.etapas.gy-5.gy-xl-4.my-5
            .col-12.col-lg-6.col-xl-3.mt-0.z-index-up
                div.etapas__circulo.bg-white
                    sup.position-absolute.text-white.fw-bold 01 
                    <i class="bi bi-person-bounding-box etapas__circulo--icono display-1"></i>
                h4.mt-4.mb-3.etapas__nombre Registro Online
                p.etapas__descripcion Todo comienza con el registro en línea gratuito. Solo se necesitan datos básicos: nombre, apellido, edad, etc.
            .col-12.col-lg-6.col-xl-3.mt-lg-0.z-index-up
                div.etapas__circulo.bg-white
                    sup.position-absolute.text-white.fw-bold 02
                    <i class="fab fa-wpforms etapas__circulo--icono display-1"></i>
                h4.mt-4.mb-3.etapas__nombre Completá el Formulario
                p.etapas__descripcion Después del registro, deberá completar un formulario para ayudarnos a determinar sus objetivos y necesidades financieras.
            .col-12.col-lg-6.col-xl-3.mt-xl-0.z-index-up
                div.etapas__circulo.bg-white
                    sup.position-absolute.text-white.fw-bold 03 
                    <i class="far fa-handshake etapas__circulo--icono display-1"></i>
                h4.mt-4.mb-3.etapas__nombre Común Acuerdo
                p.etapas__descripcion Esta etapa concluye el procedimiento de apertura de una cuenta en Dot Bank para comenzar a usar su tarjeta.
            .col-12.col-lg-6.col-xl-3.mt-xl-0.z-index-up
                div.etapas__circulo.bg-white
                    sup.position-absolute.text-white.fw-bold 04 
                    <i class="bi bi-cash-stack etapas__circulo--icono display-1"></i>
                h4.mt-4.mb-3.etapas__nombre Lista para Usar
                p.etapas__descripcion Podes usar tu tarjeta para comprar los productos que necesitas o para abrir un depósito seguro con muchos beneficios.