section.contacto.row#contacto
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26173.45867965237!2d-57.94317821633326!3d-34.914420620343634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e631c178a709%3A0x8150c9f57cdc62f3!2sC.%2050%20844%2C%20B1900%20ATH%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1630511667133!5m2!1ses!2sar" height="480" style="border:0;" allowfullscreen="" loading="lazy" class="contacto__mapa col-12 col-md-6 p-0 order-1 order-md-0"></iframe>
    div.contacto__info.col-12.col-md-6.text-white.px-5.py-md-5.py-4
        div.ps-md-5.pt-md-4.contacto__info--grouper.my-3.my-md-0
            h4.contacto__titulo.my-md-5.mb-4 Información de Contacto
            address.m-0
                <i class="bi bi-geo-alt-fill me-3" style="vertical-align: top;"></i>
                span.d-inline-block
                    |Calle 50 Nro 844,
                    <br>
                    |La Plata, CP 1900 ARG
                <br><br>
                <i class="fas fa-phone-alt me-3" style="vertical-align: top;"></i>
                span.d-inline-block(style="margin-top: -5px;")
                    |221-477-5601
                    <br>
                    |1-800-1234-567
                <br><br>
                <i class="bi bi-envelope-fill me-3 position-relative" style="top: 2.5px;"></i>
                span.d-inline-block(style="margin-top: -5px;") info@dotbank.com
                div.redes.mt-4
                    a(href=""): <i class="fab fa-facebook-f" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Facebook"></i>
                    a(href=""): <i class="fab fa-facebook-messenger mx-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Messenger"></i>
                    a(href=""): <i class="bi bi-instagram" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Instagram"></i>
                    a(href=""): <i class="fab fa-linkedin-in mx-4" data-bs-toggle="tooltip" data-bs-placement="bottom" title="LinkedIn"></i>
                    a(href=""): <i class="bi bi-twitter" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Twitter"></i>