
<div id="carrusel" class="carousel slide carousel-fade vw-100" data-bs-ride="carousel">
    <div class="carousel-indicators justify-content-start">
        <button type="button" data-bs-target="#carrusel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button class="mx-4" type="button" data-bs-target="#carrusel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carrusel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-100">
        <div class="carousel-item  --naranja h-100 active">
            <div class="tarjeta px-4 px-sm-0">
                h2.tarjeta__titulo.animate__animated.animate__fadeInUp.display-3 #1 Opción para Tus<br>Necesidades Bancarias
                p.tarjeta__descripcion.animate__animated.animate__fadeInUp.my-5.fs-4 Nuestra Tarjeta Naranja es la mejor opción si estas buscando servicios bancarios confiables y de alta calidad.
                a.tarjeta__boton.text-center.animate__animated.animate__fadeInUp.text-reset.text-decoration-none.fw-bold(href="#", role="button") <i class="far fa-credit-card me-2"></i> Pedir Tarjeta
            </div>
        </div>
        <div class="carousel-item --verde h-100">
            <div class="tarjeta px-4 px-sm-0">
                h2.tarjeta__titulo.animate__animated.animate__fadeInUp.display-3 Tarjeta Green para su<br>Uso Diario
                p.tarjeta__descripcion.animate__animated.animate__fadeInUp.my-5.fs-4 ¿Necesitas una tarjeta de crédito sencilla pero segura? Nuestra Tarjeta Verde tiene todas las características que buscas.
                a.tarjeta__boton.text-center.animate__animated.animate__fadeInUp.text-reset.text-decoration-none.fw-bold(href="#", role="button") <i class="far fa-credit-card me-2"></i> Pedir Tarjeta
            </div>
        </div>
        <div class="carousel-item --celeste h-100">
            <div class="tarjeta px-4 px-sm-0">
                h2.tarjeta__titulo.animate__animated.animate__fadeInUp.display-3 La Tarjeta más Brillante en<br>Tu Billetera
                p.tarjeta__descripcion.animate__animated.animate__fadeInUp.my-5.fs-4 La Tarjeta Estándar te ofrece una lista extensa de características y beneficios tanto para clientes corporativos e individuales.
                a.tarjeta__boton.text-center.animate__animated.animate__fadeInUp.text-reset.text-decoration-none.fw-bold(href="#", role="button") <i class="far fa-credit-card me-2"></i> Pedir Tarjeta
            </div>
        </div>
    </div>
</div>