<nav class="navbar navbar-expand-lg navbar-light bg-transparent position-fixed top-0 start-0 end-0 pt-4">
  <div class="navbar__fondo" id="fondo-navbar"></div>
  <div class="container justify-content-start justify-content-lg-between p-0">
    <a class="navbar-brand ms-3 ms-lg-0 order-1 order-lg-0" href="#">
      <img src="recursos/imagenes/logo-inverse-84x23.png" alt="" width="84" height="24" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-menu"></span>
      <span class="navbar-toggler-menu my-1"></span>
      <span class="navbar-toggler-menu"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end order-2 order-lg-0 py-3 py-lg-0" id="navbarNav">
      <ul class="navbar-nav text-white">
        <li class="nav-item ms-2 mx-lg-4">
          <a class="nav-link d-inline-block text-white fs-5 px-2" href="#beneficios">Beneficios</a>
        </li>
        <li class="nav-item ms-2 mx-lg-4">
          <a class="nav-link d-inline-block text-white fs-5 px-2" href="#estadisticas">Estadísticas</a>
        </li>
        <li class="nav-item ms-2 mx-lg-4">
          <a class="nav-link d-inline-block text-white fs-5 px-2" href="#preguntas-frecuentes">Preguntas Frecuentes</a>
        </li>
        <li class="nav-item ms-2 mx-lg-4">
          <a class="nav-link d-inline-block text-white fs-5 px-2" href="#blog">Blog</a>
        </li>
        <li class="nav-item ms-2 mx-lg-4">
          <a class="nav-link d-inline-block text-white fs-5 px-2" href="#contacto">Contacto</a>
        </li>
        <li class="nav-item ms-2 mx-lg-4">
          <a class="nav-link link__login-register d-inline-block fs-5 px-2 text-white" href="login_registration.html">Login/Register</a>
        </li>
      </ul>
    </div>
  </div>
</nav>