section.banner_tarjeta.vw-100.mt-lg-5.py-4
    .container.h-100.text-center
        div.d-flex.justify-content-center.align-items-center.flex-wrap.h-100.text-white
            span.display-5.banner_tarjeta__texto ¡Elegí tu 
                b.banner_tarjeta__texto--bold Tarjeta Dot 
                | ahora!
            a.banner_tarjeta__boton.text-reset.text-decoration-none.fw-bold.fs-5(role="button") Elegir T-Dot

